<h1 class="title-home">Login</h1>

<form class="container-form-wrapper" action="/login" method="POST">

    <div class="form-control">
        <label for="email">E-mail:</label>
        <input autocomplete="off" required type="email" name="email" placeholder="Informe seu email aqui">
    </div>

    <div class="form-control">
        <label for="password">Senha:</label>
        <input autocomplete="off" required type="password" name="password" placeholder="Informe sua senha aqui">
    </div>
    <p class="conta-existente">Não tem uma conta ? <a href="/register">Clique aqui</a></p>      
    <input type="submit" value="Login">
    
</form>