* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2e2e2e;
}

.container-navbar-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 2px #d8f62a;
    height: 10rem;

    a {
        img {
            width: 10rem;
        }
    }

    .control-navbar {
        display: flex;
        gap: 2rem;
        align-items: center;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

p{
    margin: 1rem;
    text-align: center;
    color: #fff;
    span{
        color: #d8f62a;
    }
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    transition: all .4s ease;
}

.container-main {
    min-height: 80vh;

    .btn {
        background-color: #d8f62a;
        text-decoration: none;
        padding: 1rem;
        border: solid 1px #d8f62a;
        border-radius: .4rem;
        color: #000;
        transition: all .4s ease;
    
        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }

    .dashboard {

        .title-container {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
        }

        h3 {
            color: #fff;
            margin: 1rem;
        }

        .container-pensamento-wrapper{
            display: flex;
            width: 100%;
            gap: 1rem;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
        

            .container-pensamentos{
                width: 30rem;
                height: 20rem;
                background-color: #d8f62a;
                display: flex;
                gap: 2rem;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #fff;
                position: relative;
                border-radius: 1rem;

                .actions{
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    background: #d8f62a;
                    padding: 1rem;
                    gap: 4rem;

                    a{
                        background-color: #2e2e2e;
                        width: 10rem;
                        text-align: center;
                        justify-content: center;
                        color: #fff;
                        transition: all .4s ease;

                        &:hover{
                            background-color: #d8f62a;
                            color: #000;
                            border: solid 1px #000;
                        }
                    }

                    form{
                        background-color: #d8f62a;

                        input[type="submit"]{
                            background-color: #2e2e2e;
                            cursor: pointer;
                            color: #fff;
                            width: 10rem;

                            &:hover{
                                background-color: #d8f62a;
                                color: #000;
                                border: solid 1px #000;
                            }
                        }
                    }
                }

                .pensamentos{
                    position: absolute;
                    padding: 1rem;
                    top: 0;
                    left: 0;
                    border: solid 1px #d8f62a;
                    }
                }
            }
        }

    .system-error-password {
        color: #fff;
        text-align: center;
        padding: 1rem;
        background-color: rgb(117, 113, 195);
        width: 30rem;
        border: solid 2px rgb(249, 249, 249);
        margin: 1rem auto;
        border-radius: .4rem;
    }

    .title-home {
        color: #fff;
        margin: 2rem;
        text-align: center;
    }


    .container-form-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;

        .conta-existente {
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;

            a {
                color: yellow;
            }
        }

        .btn-voltar{
            color: #000;
            margin: 1rem;
            text-decoration: none;
            padding: 1rem 2rem;
            background-color: #d8f62a;
            transition: all .4s ease;
            border: solid 1px #d8f62a;

            &:hover{
                background-color: transparent;
                color: #ffffff;
                border-radius: .4rem;
            }
        }


        input[type="submit"] {
            padding: 1rem 2rem;
            border: none;
            border: solid 1px #d8f62a;
            background-color: #d8f62a;
            border-radius: .4rem;
            cursor: pointer;
            transition: all .4s ease;
            margin: 1rem 0;

            &:hover {
                background-color: #2e2e2e;
                color: #fff;
            }
        }

        .form-control {
            display: flex;
            width: 30rem;
            flex-direction: column;
            justify-content: center;
            gap: .4rem;

            label {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #fff;
            }

            input {
                width: 100%;
                padding: 1rem;
                border: none;
                border: solid 1px yellow;
                border-radius: .4rem;
                outline: none;
                color: #fff;
            }

        }
    }
}


.home-header{
    .search-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        input[type="text"]{
            padding: 1rem;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            outline: none;
            border: none;
            width: 30rem;
            border: solid 1px #d8f62a;
            border-radius: .4rem;
        }   
    }
    .order-container{
        gap:2rem;
        margin-top: 1rem;
        display: flex;
        color: #fff;
        align-items: center;
        justify-content: center;

        form{
           button{
                border: none;
                padding: 1rem 2rem;
                color: #fff;
                cursor: pointer;
                border-radius: .4rem;
                border: solid 2px #d8f62a;
            }
        }
        a{
            color: #fff;
        }
    }
}

.toughts-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    color: #fff;
    
    figure{
        width: 90%;
        border-bottom: solid 2px #d8f62a;
        margin: .4rem;

        blockquote{
            font-style: italic;
            font-size: 4rem;
        }

        figcaption{
            span{
                color: #d8f62a;
            }
        }
    }
}



.container-footer-wrapper {
    display: flex;
    align-items: center;
    height: 15rem;
    width: 100%;
    justify-content: center;
    border-top: solid 2px #d8f62a;

    p {
        font-size: 3rem;

        span {
            color: #d8f62a;
        }
    }
}